{
  "root": true,
  "extends": [
    "next/core-web-vitals",
    "plugin:react/recommended",
    "plugin:tailwindcss/recommended",
    "airbnb",
    "airbnb-typescript"
  ],
  "globals": {
    "React": "readonly"
  },
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "rules": {
    "consistent-return": "off",
    "func-names": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "max-len": "off",
    "no-alert": "off",
    "no-await-in-loop": "off",
    "no-console": [
      "error",
      {
        "allow": [
          "debug",
          "info",
          "warn",
          "error"
        ]
      }
    ],
    "react/no-array-index-key": "off",
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 2
      }
    ],
    "no-nested-ternary": "off",
    "import/extensions": "off",
    "no-param-reassign": "warn",
    "no-restricted-globals": "off",
    "no-restricted-syntax": "off",
    "react/jsx-props-no-spreading": "off",
    "react/jsx-no-useless-fragment": "off",
    "react/require-default-props": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "import/prefer-default-export": "off"
  }
}