{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "root": true,
  "extends": [
    "plugin:@next/next/recommended",
    "plugin:react/recommended",
    "airbnb",
    "airbnb-typescript"
  ],
  "globals": {
    "React": "readonly"
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 13,
    "sourceType": "module",
    "project": "tsconfig.json"
  },
  "plugins": ["react", "@typescript-eslint"],
  "rules": {
    "consistent-return": "warn",
    "func-names": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "max-len": "off",
    "no-alert": "off",
    "no-await-in-loop": "off",
    "no-console": "off",
    "no-nested-ternary": "off",
    "no-param-reassign": "off",
    "no-restricted-syntax": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "react/jsx-props-no-spreading": "off",
    "react/require-default-props": "off"
  }
}
