{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    "next/core-web-vitals",
    "plugin:react/recommended",
    "airbnb",
    "airbnb-typescript"
  ],
  "globals": {
    "React": "readonly"
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 13,
    "sourceType": "module",
    "project": "tsconfig.json"
  },
  "plugins": ["react", "@typescript-eslint"],
  "rules": {
    "func-names": "off",
    "max-len": "off",
    "no-alert": "off",
    "no-console": [
      "error",
      {
        "allow": ["error"]
      }
    ],
    "no-nested-ternary": "off",
    "no-restricted-syntax": "off",
    "react/jsx-props-no-spreading": "off",
    "react/require-default-props": "off"
  }
}
