@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /*
  all colors taken from https://tailwindcss.com/docs/customizing-colors
  primary on secondary and primary on gray-secondary should be visible
  secondary on primary and secondary on gray-primary should be visible
  primary on gray-primary and secondary on gray-secondary are for "disabled" states
  */
  :root {
    --color-primary: 28 25 23;
    --color-secondary: 250 250 249;
    --color-gray-primary: 51 65 85;
    --color-gray-secondary: 203 213 225;
    --color-blue-primary: 29 78 216;
    --color-blue-secondary: 186 230 253;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --color-primary: 241 245 249; /* 200 */
      --color-secondary: 15 23 42; /* 900 */
      --color-gray-primary: 148 163 184; /* 400 */
      --color-gray-secondary: 30 41 59; /* 800 */
      --color-blue-primary: 96 165 250;
      --color-blue-secondary: 30 58 138;
    }
  }

  h1 {
    @apply text-4xl font-bold leading-loose;
  }

  h2 {
    @apply text-2xl font-semibold leading-loose;
  }

  h3 {
    @apply text-xl font-medium leading-relaxed;
  }

  h4 {
    @apply font-medium;
  }
}

@layer utilities {
  .dark-gradient {
    @apply from-black to-blue-dark bg-gradient-to-br;
  }

  .interactive {
    @apply transition duration-150 hover:opacity-50 focus:opacity-50;
  }

  .bordered {
    @apply box-border rounded-lg border-2 border-gray-primary/0 hover:border-gray-primary/60 hover:shadow-md motion-reduce:hover:shadow-none;
  }

  .primary {
    @apply text-primary bg-secondary;
  }

  .secondary {
    @apply text-secondary bg-primary;
  }

  .gray-primary {
    @apply text-primary bg-gray-secondary;
  }

  .secondary-gray {
    @apply text-secondary bg-gray-primary;
  }

  .round {
    @apply rounded-full p-1;
  }
}

@layer components {
  .button {
    @apply interactive bordered px-2 py-1 font-medium;
  }

  .menu-button {
    @apply flex w-full items-center px-1 transition hover:bg-gray-dark/50;
  }

  .menu-dropdown {
    @apply rounded bg-white p-1 text-gray-dark shadow-md focus:outline-none;
  }
}